MONGO_URI=your_mongodb_connection_string_here
PORT=your_port_number_here
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=your_jwt_expiration_time_here
CLIENT_URL=your_client_url_here
NODE_ENV=your_node_environment_here (e.g., development, production)